.example {
  padding: 20px;
  text-align: center;

  font-size: 45px;
  line-height: 45px;
}

.example input {
  width: 60px;
  font-size: 40px;
}

.example .number {
  padding: 0px 5px;
  border-radius: 5px;
}