.arrow {
  position: absolute;
  /*border: 1px solid black;*/
}

.arrow_input {
  text-align: center;
}

.arrow_input input {
  width: 30px;
  margin-bottom: 10px;
}

.arrow_input input,
.arrow_input .number {
  font-size: 25px;  
}